<div class="container-fluid">
  <%= '<%=' %> form_for @<%= singular_table_name %>, html: {class: 'ajaxsend'} do |f| %>
    <div class="row-fluid error-messages hide">
      <div class="span12">
        <h2>Os seguintes erros proibiram este <%= singular_table_name %> de ser cadastrado:</h2>
      </div>
    </div>

  <% attributes_names.each do |attribute| %>
    <div class="row-fluid">
      <div class="span12">
        <%= '<%=' %> f.label :<%= attribute %> %>
        <%= '<%=' %> f.text_field :<%= attribute %>, class: 'input-block-level' %>
      </div>
    </div>
  <% end %>
    <div class="row-fluid">
      <%= '<%=' %> f.submit :class => "btn btn-primary" %>
    </div>
  <%= '<%' %> end %>
</div>
