<% entries.each do |entry| %>
  <tr id="<%= dom_id entry %>">
    <td><%= entry.id %></td>
    <td><%= entry.name %></td>
    <td><%= entry.acronym %></td>
    <td><%= entry.country %></td>
    <td><%= status_tag entry.status %></td>
    <!--<td><%= link_to t(:show), entry %></td>-->
    <td><%= render_to :state, t(:edit), edit_state_path(entry), class: 'btn btn-small' %></td>
    <!-- <td><%= link_to t(:destroy), state_path(entry, :json), data: {destroy: true,
                                                                  title: "EXCLUIR ESTADO ##{entry.id}",
                                                                  reference: dom_id(entry)} %></td>  -->
  </tr>
<% end %>