<div class="container-fluid">
  <div class="row-fluid">
    <div class="span12">
      <h3><%= '<%=' %> t('activerecord.models.<%= singular_table_name %>').capitalize %> #<%= '<%=' %> @<%= singular_table_name %>.id %></h3>
    </div>
  </div>
</div>

<div class="container-fluid">

  <% attributes_names.each do |attribute| %>
    <div class="row-fluid">
      <div class="span12">
        <label><%= '<%=' %> ta <%= class_name %>, :<%= attribute %> %></label>
        <span class="uneditable-input input-block-level"><%= '<%=' %> @<%= singular_table_name %>.<%= attribute %> %></span>
      </div>
    </div>
  <% end %>
</div>
